body {
    background-color: #FBF8F2;
    font-family: sans-serif;
}
.main-content {
    min-height: 100vh;
  }
  
.navbar, .btn-primary, footer {
    background-color: #091D1E;
}

.nav-link, .display-4, .lead, h2, .card-title, .card-text {
    color: #091D1E;
}

.btn-primary {
    border-color: #091D1E;
}

.logo-navbar {
    width: auto;
    height: 3rem;
}

