/* Variables para colores */
:root {
    --primary-bg-color: #091D1E;
    --secondary-bg-color: #FBF8F2;
    --text-color: #091D1E;
}

/* Estilo del cuerpo y la fuente */
body {
    position: relative;
}

.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px; /* Ajusta la altura según sea necesario */
    z-index: -1; /* Para que la imagen esté detrás del contenido */
}

/* styles.css */
.navbar {
    background-color: #000 !important; /* Cambia al color negro (#000) o el color deseado */
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important; /* Cambia al color blanco (#fff) o el color deseado para el texto */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #007BFF  !important; /* Cambia al color deseado cuando el ratón está sobre el texto */
}

.navbar-dark .navbar-toggler-icon {
    filter: invert(1) !important; /* Invierte el color del icono del botón de la barra de navegación */
}

#miFooter {
    background-color: #000 !important; /* Cambia al color negro (#000) o el color deseado */
    color: #fff !important; /* Cambia al color blanco (#fff) o el color deseado para el texto */
}

/* styles.css */
.display-4,
.lead {
    color: #fff; /* Cambia al color blanco (#fff) o el color deseado */
}


.background-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
}


/* Ajuste de altura mínima para contenido principal */
.main-content {
    min-height: 100vh;
}

/* Estilos para la barra de navegación, botón principal y pie de página */
.navbar, .btn-primary, footer {
    background-color: var(--primary-bg-color);
}

/* Estilos para los enlaces de navegación y diversos encabezados y textos */
.nav-link, .display-4, .lead, h2, .card-title, .card-text {
    color: var(--text-color);
}

/* Ajustes para el botón principal */
.btn-primary {
    border-color: var(--primary-bg-color);
}

/* Estilo específico para el logo en la barra de navegación */
.logo-navbar {
    width: auto;
    height: 3rem;
}

/* Ejemplo de clases modificadores para tamaños de texto */
.text-small {
    font-size: 0.8em;
}

.text-large {
    font-size: 1.2em;
}
